<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBUE2_mPS7Vt8XjzTDMcSxrw1cSeBJIX5M</string>
	<key>GCM_SENDER_ID</key>
	<string>869654679054</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.weatherApp</string>
	<key>PROJECT_ID</key>
	<string>wheaterapp-e2a4a</string>
	<key>STORAGE_BUCKET</key>
	<string>wheaterapp-e2a4a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:869654679054:ios:252d57cad148e0d2f5b65f</string>
</dict>
</plist>